requests==2.26.0
Jinja2==2.11.3
chardet==4.0.0
# https://ci.appveyor.com/project/rasa/scoop-directory/builds/37767497#L16
# jsoncomment==0.4.2
jsoncomment>=0.3.3
# https://ci.appveyor.com/project/rasa/scoop-directory/builds/37856001#L17
GitPython>=2.1.15
# GitPython==3.1.12
